.nav-header{
    display: flex;
    justify-content:center ;
    margin-top: 20px;
}
a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 42px;
    letter-spacing: 4px;
}

