<div class="modal fade"	tabindex="-1" role="dialog" aria-labelledby="modalLabel" [id]="id">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modalLabel">
              Temperatura 
          </h4>
        </div>
        <div class="modal-body text-center">
          <div>
              <h2>
                  {{ conversao.resultado }}
                  {{ conversao.unidadeDe }}
                  =
                  {{ valorConvertido }}
                  {{ conversao.unidadePara }}
              </h2>
              <!-- <p>
                {{ conversao.unidadePara }}
                {{ unidadePara }} {{ conversao.unidadeDe }}  
                /
                1 {{ conversao.unidadeDe}}
                {{ unidadeDe }} {{ conversao.unidadePara }}                
              </p> -->
          </div>
        </div>
        <div class="modal-footer">
          <button	type="button" class="btn btn-info"data-dismiss="modal" (click)="novaConsulta()">
              Nova consulta
          </button>
        </div>
      </div>
    </div>
  </div>
